<html>
<head>
    <title>BiocHub Server Results</title>
</head>
<body>

<br/> <br/>  <br/>

<style>
.indented {
  padding-left: 25pt;
  padding-right: 25pt;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<div class="indented">

<table border="1">

    <tr>
	<th><%=message%></th>
    </tr>
    <% values.each do |row| %>
	<tr>
	    <% if row.is_a?(String) %>
		<% temp = row.gsub(" ", "%20") %>
		<td><a href= <%= "/#{link}/#{temp}"%>><%= row %></a></td>
	    <% else %>
		 <td><a href= <%= "/#{link}/#{row}"%>><%= row %></a></td>
	    <% end %>

	</tr>
    <% end %>
</table>
</div>


</body>
</html>
