<html>
<head>
    <title>BiocHub Server Results</title>
</head>
<body>

<br/> <br/>  <br/>

<style>
.indented {
  padding-left: 25pt;
  padding-right: 25pt;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<script type="text/javascript" src="jquery/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<div class="indented">

<table border="1" id="result_table" class="display">

    <thead>
    <tr>
	<th><%=message%></th>
    </tr>
    </thead>
    <tbody>
    <% values.each do |row| %>
	<tr>
	    <% if row.is_a?(String) %>
		<% temp = row.gsub(" ", "%20") %>
		<td><a href= <%= "/#{link}/#{temp}"%>><%= row %></a></td>
	    <% else %>
		 <td><a href= <%= "/#{link}/#{row}"%>><%= row %></a></td>
	    <% end %>

	</tr>
    <% end %>
    </tbody>
</table>
</div>

<script>
$(document).ready( function () {
    $('#result_table').DataTable();
} );
</script>

</body>
</html>
