<html>
<head>
    <title>BiocHub Server Results</title>
</head>
<body>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

</style>

<script type="text/javascript" src="../jquery/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<table border="1" id="resultpage_table" class="display">

    <thead>
    <tr>
	<th>ah_id</th>
	<th>Download File</th>
	<th>Title</th>
	<th>Description</th>
    </tr>
    </thead>
    <tbody>

<% result.each do |row| %>
    <tr>
	<td><a href= "/ahid/<%=row[:ah_id] %>"><%=row[:ah_id] %></a></td>
	<td><a href= "<%= row[:download] %>"><img src="../images/download.png"
	alt="Download <%=row[:ah_id] %>" title="Download <%=row[:ah_id] %>"
	width=30 height=30></a></td>
	<td><%= row[:title] %></td>
	<td><%= row[:description] %></td>
    </tr>


<% end %>
    </tbody>

</table>

<script>
$(document).ready( function () {
    $('#resultpage_table').DataTable();
} );
</script>

</body>
</html>
